*::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

/* Join Room */
.joinRoom {
  display: flex;
  flex-direction: column; 
  margin-top: 1rem;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
}