*::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

/* ----- Custom Components ----- */
.displayButton {
  cursor: pointer;
  background-color: var(--secondary-dark);

  outline: none;
  border: none;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  height: 2rem;

  -moz-box-shadow:0 0.15rem 0.15rem rgba(40, 38, 38, 0.75);
  -webkit-box-shadow: 0 0.15rem 0.15rem rgba(40, 38, 38, 0.75);
  box-shadow: 0 0.15rem 0.15rem rgba(40, 38, 38, 0.75); 

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.displayButton:hover:enabled {
  background-color: var(--secondary-light);
}
.displayButton:active:enabled {
  background-color: var(--secondary-light);
  transform: translateY(0.15rem);

  -moz-box-shadow:0 0.05rem 0.05rem rgba(40, 38, 38, 0.75);
  -webkit-box-shadow: 0 0.05rem 0.05rem rgba(40, 38, 38, 0.75);
  box-shadow: 0 0.05rem 0.05rem rgba(40, 38, 38, 0.75); 
}
.displayButton:disabled {
  background-color: gray;
}
.displayButton p {
  font-weight: 600;
}

.userInputField {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.userTextInput {
  padding: 1rem;
  color: white;
  background-color: var(--secondary-light);
  border-radius: 0.25rem;
  border: 1px solid white;

  font-weight: 600;
}
.userTextInput::placeholder {
  color: white
}

.userTextInput:focus, .userTextInput:hover {
  background-color: var(--secondary-light);

  outline: none;
  -moz-box-shadow: 0 0 0 0.1rem silver;
  -webkit-box-shadow: 0 0 0 0.1rem silver;
  box-shadow: 0 0 0 0.1rem silver;
}

.inputError {
  border: 1px solid red;
}
.nameHelperText {
  color: red;
  font-size: 0.7rem;
  margin-top: 0.1rem;
}
