.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Game Screen */
.container {
  background-color: #282c34;
  border: 1px solid red;
}

/* Table */
.table {
  background-image: url("./assets/woodtable.svg");
  padding: 4.5em 2em 4.5em 2em;
  margin: 0em 1em 0em 1em;
}

/* Mission Holes */
.missionToken {
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.depth {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: #3d3a3a;
  position: relative;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
}

.currentMission {
  border: 1px solid yellow;
}

/* Vote Track */
.voteHole {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.filledVote {
  background-color: #fff;
}

/* Game Master */
.masterMsg {
  background-color: black;
  display: inline-block;
  height: 10em;
  width: 14em;
  border-radius: 8px;
  position: relative;
}

.masterMsg::after {
  background-color: black;
  content: "";
  height: 16px;
  width: 16px;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}

.soldier {
  height: 4em;
  width: 4em;
}


/* Chat Box*/

.joinRoom { /* JOIN ROOM */
  display: flex;
  flex-direction: column;
  text-align: center;
}
.joinRoom h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinRoom input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}
.joinRoom button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}
.joinRoom button:hover {
  background: #2e7d32;
}

.chatWindow { /* CHAT WINDOW */
  background-color: #3d3a3a;
  height: 20em;
}
.chatWindow p {
  margin: 0;
}
.chatWindow .chatHeader {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chatWindow .chatHeader p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chatWindow .chatBody {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}
.chatWindow .chatBody .msgContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chatWindow .chatBody .msgContainer::-webkit-scrollbar {
  display: none;
}
.chatWindow .chatBody .message {
  height: auto;
  padding: 10px;
  display: flex;
}
.chatWindow .chatBody .message .msgContent {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .msgContent {
  justify-content: flex-start;
}

#you .msgMeta {
  justify-content: flex-start;
  margin-left: 5px;
}


#other {
  justify-content: flex-end;
}

#other .msgContent {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .msgMeta {
  justify-content: flex-end;
  margin-right: 5px;
}

.msgMeta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chatWindow .chatBody .message .msgMeta {
  display: flex;
  font-size: 12px;
}

.chatWindow .chatFooter {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chatWindow .chatFooter input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chatWindow .chatFooter button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chatWindow .chatFooter button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}