:root {
  --main-text-color: #F4F4F4;
  --main-bg-color: #394A3E;
  --secondary-color: #F5A65B;
  --disabled-color: #808080;
  --my-green: #8BBD8B;
  --my-red: #DF4730;
}

*::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--main-bg-color);
  overflow-y: auto;
}

/* ----- Start Screen Features ----- */
.startScreen {
  font-size: calc(10px + 2vmin);
  color: var(--main-text-color);
}

.footer {
  bottom: 0;
  right: 0;
  position: fixed;
  margin: 0 auto;
  font-size: xx-small;
}

/* ----- Game Screen Features ----- */
.gameScreen > * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.gameScreen { 
  display: flex;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

  height: 100%;
  width: 100%;
  padding: 1.5em;
}

.colLeft, .colRight {
  display: flex;
  flex-flow: column nowrap;
}
.colLeft {
  flex: 1 1 60%;
}
.colRight {
  flex: 1 1 40%;
  min-width: 300px;
}
.colLeft > *, .colRight > *{
  margin: 1em;
}

/* --- Info Table --- */
.infoTable {
  flex: 1 1 30%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Title Logo */
.titleLogo {
  flex: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}
.titleLogo > svg {
  width: 100%;
}

.information {
  flex: 1;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  color: gray;
}

/* timer */
.timer > p {
  color: gray;
  height: auto;
  width: 100%;
}

/* --- Game Table --- */
.fullTable * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.fullTable {
  flex: 1 1 55%;
  min-width: 80%;

  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2.2fr 1fr;

  margin: auto;
}

/* --- Chat Window --- */ 
.chatWindow * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.chatWindow { 
  flex: 1 0 55%;
  padding: 0.5em;
  border-radius: 0.5em;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: var(--secondary-color);

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

/* --- Game Settings --- */
.gameSettings * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.gameSettings {
  flex: 1 0 30%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin: auto;
}

/* --- Game Master --- */
.gameCommands > * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.gameCommands {
  flex: 1 0 30%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.25em 0;
  margin: auto;
}

.showChatBtn {
  flex: 1 1 auto;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* game table features */
.holdPlayers {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
}

/* Player Box */
.playerBox { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.playerBox .status {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  flex: 25%;
  height: 100%;
  width: 5em;
}
.playerBox .status div {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerBox .fist {
  flex: 50%;
  height: 100%;
}
.playerBox .username {
  flex: 25%;
  height: 100%;
  color: var(--main-text-color);
}
.selected { /* selected for mission */
  background-color: var(--secondary-color);
}

.table { /* Actual Table */
  background-image: url("./assets/woodtable.svg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.missionTokenGrid {
  display: grid;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.voteTrackGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.tableTrackDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

.missionToken { /* Mission Holes */
  border-radius: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #ecf0f1;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.currentMission {
  border: 1px solid var(--secondary-color);
}

.passed {
  background-color: var(--my-green);
}

.failed {
  background-color: var(--my-red);
}

.depth {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
}

.voteHole { /* Vote Track */
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #3d3a3a;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.filledVote {
  background-color: var(--secondary-color);
}

/* game master command features */
.masterMsg {
  height: 100%;
  width: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;

  background-color: black;
  color: white;
  border-radius: 2em;
  
  padding: 0.6em 0.6em 0.6em 1em;
  position: relative;
}

.masterMsg::after {
  background-color: var(--main-bg-color);
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid black;
  position: absolute;
  left: 100%;
  content: "";
}

.soldier {
  height: 100%;
  width: 25%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* chat window features */
.chatWindow p {
  margin: 0;
}
.chatWindow .chatHeader { /* header */
  height: 5%;
  width: 100%;
  background: var(--secondary-color);

  display: flex;
  justify-content: center;
  align-items: center;
}
.chatWindow .chatHeader p {
  color: black;
  font-weight: 700;
}

.chatScroller {
  width: 92.5%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100%;
  width: 100%;
  border-radius: 0.5em 0.5em 0 0;
  background: white;

  display: flex;
  flex: column nowrap;
}
.chatScroller::-webkit-scrollbar {
  display: none;
}

.chatBody { /* body */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.message {
  min-width: 25%;
  max-width: 75%;
  margin: 0.3em;
  
  display: flex;
  flex-flow: column wrap;
}

.message .msgContent {
  width: auto;
  height: auto;
  min-height: 1em;

  color: var(--main-text-color);
  padding: 1em;
  overflow-wrap: break-word;
  word-break: break-word;

  display: flex;
  justify-content: start;
  align-items: center;
}

.you {
  align-self: flex-end;
}
.you .msgContent {
  background-color: var(--secondary-color);
}
.you .msgMeta {
  margin-right: 1em;
  align-self: flex-end;
}
.you .msgTime {
  margin-right: 0.5em;
}

.other .msgContent {
  background-color: pink;
}
.voteResult .msgContent {
  background-color: silver;
}
.other .msgMeta, .voteResult .msgMeta {
  margin-left: 1em;
}
.other .msgTime, .voteResult .msgTime {
  margin-right: 0.5em;
}

.msgMeta {
  display: flex;
  font-size: 0.7em;
}

.chatFooter * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.chatFooter { /* footer */
  height: 7.5%;
  width: 100%;
  border-top: 0.025em solid black;
  border-radius: 0 0 0.5em 0.5em;

  display: flex;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.chatInput {
  flex: 90%;
  width: 100%;
  border-radius: 0 0 0 0.5em;
  background-color: white;
}
.chatInput > input {
  width: 100%;
  height: 90%;
  margin-left: 0.25em;
  border: none;
  border-radius: 0 0 0 0.5em;
  outline: none;
  resize: none;
  font-size: 1em;
  font-family: inherit;
}
.chatSendBtn {
  flex: 10%;
  width: 100%;
  
  border-left: 1px dotted black;
  border-radius: 0 0 0.5em 0;
  font-size: 1em;
  background-color: white;
  color: black;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.chatSendBtn:hover {
  color: var(--secondary-color);
}

/* End Screen Features */
.endScreenResults {
  color: var(--main-text-color);
}

/* Instructions */
.instructionsBox {
  color-scheme: dark;
  height: 60vh;
}
.instructions {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: var(--main-text-color);
}

/* ----- Different Screens ----- */
@media all and (max-width: 1000px) { /* isGettingThin */
  .fullTable, .soldier {
    -ms-transform: scale(0.9, 0.9); /* IE 9 */
    -webkit-transform: scale(0.9, 0.9); /* Safari */
    transform: scale(0.9, 0.9);
  }
  .chatInput > input, .chatSendBtn {
    font-size: 0.8em;
  }
}

@media all and (max-width: 900px) { /* isThin */
  .gameScreen {
    display: flex;
    flex-flow: column nowrap;
  }
  .infoTable {
    flex: 1 2 auto;
    flex-flow: column nowrap;
  }
  .titleLogo, .information {
    flex: 1 5 auto;
  }
  .fullTable {
    flex: 4 2 auto;
  }
  .gameSettings, .gameCommands {
    flex: 3 1 auto;
  }
  .showChatBtn {
    flex: 2 1 auto;
  }
  .chatWindow {
    position: absolute;
    z-index: 2;
    height: 70svh;
    width: 95svw;
  }
}

@media all and (max-width: 500px) { /* isMoreThin */
  .infoTable, .holdPlayers {
    -ms-transform: scale(0.9, 0.9); /* IE 9 */
    -webkit-transform: scale(0.9, 0.9); /* Safari */
    transform: scale(0.9, 0.9);
  }
  .fullTable {
    -ms-transform: scale(0.7, 0.7); /* IE 9 */
    -webkit-transform: scale(0.7, 0.7); /* Safari */
    transform: scale(0.7, 0.7);
  }
  .gameSettings, .gameCommands {
    -ms-transform: scale(0.8, 0.8); /* IE 9 */
    -webkit-transform: scale(0.8, 0.8); /* Safari */
    transform: scale(0.8, 0.8);
  }
}

@media all and (max-width: 385px) { /* isREALLYThin */
  .chatInput > input, .chatSendBtn {
    font-size: 0.6em;
  }
  .fullTable {
    -ms-transform: scale(0.5, 0.5); /* IE 9 */
    -webkit-transform: scale(0.5, 0.5); /* Safari */
    transform: scale(0.5, 0.5);
  }
  .gameSettings, .gameCommands {
    -ms-transform: scale(0.7, 0.7); /* IE 9 */
    -webkit-transform: scale(0.7, 0.7); /* Safari */
    transform: scale(0.7, 0.7);
  }
}